interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sourcify.dev/server/v2/contract/1/0x0000000000000000000000000000000000000001
  response:
    body:
      string: '{"match":null,"creationMatch":null,"runtimeMatch":null,"chainId":"1","address":"0x0000000000000000000000000000000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c-WWexzexe+oxmeiya2eMZ9HLxYSQ"
      x-cloud-trace-context:
      - e952c47989203c0a3bb226bb24f46946
    status:
      code: 404
      message: Not Found
version: 1
