interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sourcify.dev/server/v2/contract/1/0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9
  response:
    body:
      string: '{"matchId":"225228","creationMatch":"exact_match","runtimeMatch":"exact_match","verifiedAt":"2024-08-08T11:01:15Z","match":"exact_match","chainId":"1","address":"0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ce-0FWhZhnwqIakRLsDeKNbMcDcl9U"
      x-cloud-trace-context:
      - bd37068de629301b86e99ce401bfb60d
    status:
      code: 200
      message: OK
version: 1
